
@{
    ViewBag.Title = "Hotro";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/Css/StyleSheet1.css" rel="stylesheet" />

<div class="hotro">
    CHÚNG TÔI Ở ĐÂY LÀ ĐỂ HỖ TRỢ BẠN
    <i class="fad fa-user-headset"></i>
    <div class="row">
        <div class="col-md-4 a">

            CHÍNH SÁCH SỬ DỤNG
            <ul class="col-md-12 b">
                Chỉ với 3.990.000đ bạn sẽ sử dụng tất cả các tiện ích online của WEB NHÀ THUỐC mãi mãi. Click biểu tượng để xem chi tiết.
            </ul>
        </div>


        <div class="col-md-2 a ">

            CÂU HỎI THƯỜNG GẶP
            <ul class="col-md-12 b">
                Nhiều thắc mắc của bạn được giải đáp trong câu hỏi thường gập. Click biểu tượng để xem chi tiết.
            </ul>
        </div>


        <div class="col-md-3 a ">

            NHÀ THUỐC THÔNG MINH
            <ul class="col-md-12 b">
                Nhà thuốc của bạn sẽ trở nên thông minh hơn nhờ ứng dụng công nghệ. Click biểu tượng để xem chi tiết.
            </ul>
        </div>


        <div class="col-md-3 a">
            TRANG FAN PAGE
            <ul class="col-md-10 b">
                Nơi trao đổi và giao lưu cộng đồng khách hàng của WEB NHÀ THUỐC. Click biểu tượng để xem chi tiết.
            </ul>

        </div>

    </div>

</div>

