
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/CSS/StyleSheet1.css" rel="stylesheet" />
<div class="hinhnen">
    <img src="~/Hinhanh/20161209150036-4bcd_wm.jpg" width="1488" height="630"/>
</div>

