

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";

}

<h2>
    <img src="~/Hinhanh/20161209150036-4bcd_wm.jpg" width="1470" height="630" />
</h2>
<link href="~/Css/StyleSheet1.css" rel="stylesheet" />

<div class="card-title tienich">
    TIỆN ÍCH WEB NHÀ THUỐC
    <div class="row">
        <div class="col-md-4 a">

            TRA CỨU HÀNG HÓA
            <ul class="col-md-12 b">
                Với 20.000 mặt hàng liên tục được cập nhật thông tin giá cả, bạn dễ dàng tra cứu mọi thông tin về hàng hoá mà để phục vụ kinh doanh.
            </ul>
        </div>


        <div class="col-md-2 a ">

            ĐẶT HÀNG ĐA KHO
            <ul class="col-md-12 b">
                Bạn có thể dễ dàng đặt hàng nhanh chóng, thuận lợi và minh bach từ các nhà cung cấp mà WEB NHÀ THUỐC đã tích hợp lên trên phần mềm.
            </ul>
        </div>


        <div class="col-md-3 a ">

            QUẢN LÝ NHÀ THUỐC
            <ul class="col-md-12 b">
                Với phần mềm của WEB NHÀ THUỐC, bạn sẽ có một công cụ quản lý đơn giản, hiện đại để tự động hoá hoạt động kinh doanh nhà thuốc.
            </ul>
        </div>


        <div class="col-md-3 a">
            PHÁT TRIỂN KINH DOANH
            <ul class="col-md-10 b">
                Đây là kênh tư vấn và hỗ trợ trực tiếp mọi vấn đề phát triển kinh doanh và nâng cao năng lực cạnh tranh cho nhà thuốc
            </ul>

        </div>

    </div>

</div>
<div class="card-title tienich">
    WEB NHÀ THUỐC TƯ VẤN GÌ CHO BẠN
    <div class="row">
        <div class="col-md-4 a">

            Hãy để chúng tôi tư vấn cho bạn.
            <ul class="col-md-12 b">
                Bạn sẽ nhận được những tư vấn rất thực tế từ chính những kinh nghiệm và hiểu biết của chúng tôi trong linh vực bán lẻ dược phẩm. Những tư vấn này bao gồm danh mục và cơ cấu danh mục hàng, thông tin giá cả hàng hoá, lộ trình và tài liệu đào tạo nhân viên, làm thế nào thế nào nâng cao năng lực cạnh tranh và mở rộng kinh doanh, những rủi ro bạn có thể gập trong quá trình kinh doanh vv... Tất cả những điều này giúp bạn phát triển kinh doanh ngày càng hiệu quả và khai thác hết tiềm năng của nhà thuốc.
            </ul>
        </div>


        <div class="col-md-2 a ">

            ĐÁP ỨNG NHU CẦU
            <ul class="col-md-12 b">
                WEB NHÀ THUỐC đáp ứng mọi nhu cầu phát triển và điều hành hoạt động kinh doanh nhà thuốc.
            </ul>
        </div>


        <div class="col-md-3 a ">

            ĐẦU TƯ HIỆU QUẢ
            <ul class="col-md-12 b">
                WEB NHÀ THUỐC cam kết cung cấp dịch vụ chất lượng với chi phí thấp nhất nhằm mang tới cơ hội sử dụng cho tất cả các nhà thuốc.
            </ul>
        </div>

    </div>

</div>
<div class="card-title tienich">
    CHÚNG TÔI Ở ĐÂY LÀ ĐỂ HỖ TRỢ BẠN
    <div class="row">
        <div class="col-md-4 a">

            CHÍNH SÁCH SỬ DỤNG
            <ul class="col-md-12 b">
                Chỉ với 3.990.000đ bạn sẽ sử dụng tất cả các tiện ích online của WEB NHÀ THUỐC mãi mãi. Click biểu tượng để xem chi tiết.
            </ul>
        </div>


        <div class="col-md-2 a ">

            CÂU HỎI THƯỜNG GẶP
            <ul class="col-md-12 b">
                Nhiều thắc mắc của bạn được giải đáp trong câu hỏi thường gập. Click biểu tượng để xem chi tiết.
            </ul>
        </div>


        <div class="col-md-3 a ">

            NHÀ THUỐC THÔNG MINH
            <ul class="col-md-12 b">
                Nhà thuốc của bạn sẽ trở nên thông minh hơn nhờ ứng dụng công nghệ. Click biểu tượng để xem chi tiết.
            </ul>
        </div>


        <div class="col-md-3 a">
            TRANG FAN PAGE
            <ul class="col-md-10 b">
                Nơi trao đổi và giao lưu cộng đồng khách hàng của WEB NHÀ THUỐC. Click biểu tượng để xem chi tiết.
            </ul>

        </div>

    </div>

</div>
<div class="card-title tienich">
    KHÁCH HÀNG CỦA WEB NHÀ THUỐC
    <div class="row">
        <div class="col-md-4 b">

            Tính đến hiện tại, WEB NHÀ THUỐC đã nhận được hơn 4.000 đăng ký sử dụng từ các quầy/nhà thuốc trải dài hơn 53 tỉnh/thành trên cả nước.
            Hơn 4.000 nhà thuốc đã đăng ký sử dụng

        </div>


        <div class="col-md-2 b ">

            CÂU HỎI THƯỜNG GẶP
            WEB NHÀ THUỐC đã nhận và trả lời hơn 10.000 yêu cầu từ việc chuẩn bị mở cho tới quản lý kinh doanh quầy/nhà thuốc sao cho hiệu quả nhất.
            Hơn 10.000 yêu cầu đã được hỗ trực tiếp
        </div>


        <div class="col-md-3 b ">
            Đáp ứng 4 loại hình kinh doanh nhà thuốc: nhà thuốc trong khu dân cư, nhà thuốc kết hợp phòng khám hoặc cổng bệnh viện, nhà thuốc bệnh viên, nhà thuốc chuỗi.
            Đáp ứng đủ 4 loại hình kinh doanh nhà thuốc
        </div>



    </div>

</div>
<div class="card-title tienich">
    KINH NGHIỆM CHIA SẺ
    <div class="row">
        <div class="col-md-4 a">
            ĐĂNG KÝ TÀI KHOẢN MIỄN PHÍ
            <ul class="col-md-12 b">
                Tài khoản này chỉ được cấp miễn phí cho chủ quầy thuốc và nhà thuốc có nhu cầu: Lấy tài liệu để hỗ trợ vận hành và phát triển kinh doanh nhà thuốc; Sử dụng các tiện ích như tra cứu giá cả hàng hóa, hướng dẫn làm giá bán thuốc, chăm sóc khách hàng[…]
            </ul>
        </div>


        <div class="col-md-2 a ">

            HƯỚNG DẪN VỀ CÁCH LÀM GIÁ VÀ TRA CỨU GIÁ BÁN THUỐC
            <ul class="col-md-12 b">
                Bạn là người chưa có kinh nghiệm kinh doanh nhà thuốc, quầy thuốc bạn sẽ rất lúng túng trong việc làm giá bán vì bạn không rõ nguyên tắc hay cách nào làm giá cho đúng. Bạn làm giá đắt khách cũng chê mà làm giá rẻ khách cũng chê. Nội dung của tài liệu[…]
            </ul>
        </div>


        <div class="col-md-3 a ">

            CHÍNH SÁCH GIAO HÀNG & CHƯƠNG TRÌNH BÁN HÀNG CỦA SAO THÁI DƯƠNG
            <ul class="col-md-12 b">

                1. CHÍNH SÁCH GIAO HÀNG. SAO THÁI DƯƠNG đang áp dụng chính sách giao hàng, cụ thể: Giá trị đơn hàng: trên 200.000đ. Miễn phí giao hàng toàn quốc. Giao hàng nhanh nhất có thể và tối đa trong vòng 3 ngày. 2. CHƯƠNG TRÌNH BÁN HÀNG. Chương trình bán hàng được áp dụng thống[…]
            </ul>
        </div>


        <div class="col-md-3 a">
            HƯỚNG DẪN ĐẶT HÀNG CỦA SAO THÁI DƯƠNG
            <ul class="col-md-10 b">
                BƯỚC 1. TRUY NHẬP VÀO CHỨC NĂNG ĐẶT HÀNG CỦA SAO THÁI DƯƠNG Khi đăng nhập phần mềm bạn sẽ nhìn thấy giao diện trang chủ. Để trup nhập đặt hàng nhấn ĐẶT HÀNG NGAY màu đỏ trên màn hình. Giao diện đặt hàng xuất hiện như hình Bạn nhấn vào [Chính sách mua hàng] để[…]
            </ul>

        </div>

    </div>
</div>
