
@{
    ViewBag.Title = "Khachhang";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<div class="khachhang">
    KHÁCH HÀNG CỦA WEB NHÀ THUỐC 
    <div class="row">
        <div class="col-md-4 b">

            Tính đến hiện tại, WEB NHÀ THUỐC đã nhận được hơn 4.000 đăng ký sử dụng từ các quầy/nhà thuốc trải dài hơn 53 tỉnh/thành trên cả nước.
            Hơn 4.000 nhà thuốc đã đăng ký sử dụng

        </div>


        <div class="col-md-2 b ">

            CÂU HỎI THƯỜNG GẶP
            WEB NHÀ THUỐC đã nhận và trả lời hơn 10.000 yêu cầu từ việc chuẩn bị mở cho tới quản lý kinh doanh quầy/nhà thuốc sao cho hiệu quả nhất.
            Hơn 10.000 yêu cầu đã được hỗ trực tiếp
        </div>


        <div class="col-md-3 b ">
            Đáp ứng 4 loại hình kinh doanh nhà thuốc: nhà thuốc trong khu dân cư, nhà thuốc kết hợp phòng khám hoặc cổng bệnh viện, nhà thuốc bệnh viên, nhà thuốc chuỗi.
            Đáp ứng đủ 4 loại hình kinh doanh nhà thuốc
        </div>



    </div>

</div>

