
@{
    ViewBag.Title = "Kinhnghiem";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/CSS/StyleSheet1.css" rel="stylesheet" />
<div class="kinhnghiem">
    KINH NGHIỆM CHIA SẺ
    <div class="row">
        <div class="col-md-4 a">
            ĐĂNG KÝ TÀI KHOẢN MIỄN PHÍ
            <ul class="col-md-12 b">
                Tài khoản này chỉ được cấp miễn phí cho chủ quầy thuốc và nhà thuốc có nhu cầu: Lấy tài liệu để hỗ trợ vận hành và phát triển kinh doanh nhà thuốc; Sử dụng các tiện ích như tra cứu giá cả hàng hóa, hướng dẫn làm giá bán thuốc, chăm sóc khách hàng[…]
            </ul>
        </div>


        <div class="col-md-2 a ">

            HƯỚNG DẪN VỀ CÁCH LÀM GIÁ VÀ TRA CỨU GIÁ BÁN THUỐC
            <ul class="col-md-12 b">
                Bạn là người chưa có kinh nghiệm kinh doanh nhà thuốc, quầy thuốc bạn sẽ rất lúng túng trong việc làm giá bán vì bạn không rõ nguyên tắc hay cách nào làm giá cho đúng. Bạn làm giá đắt khách cũng chê mà làm giá rẻ khách cũng chê. Nội dung của tài liệu[…]
            </ul>
        </div>


        <div class="col-md-3 a ">

            CHÍNH SÁCH GIAO HÀNG & CHƯƠNG TRÌNH BÁN HÀNG CỦA SAO THÁI DƯƠNG
            <ul class="col-md-12 b">

                1. CHÍNH SÁCH GIAO HÀNG. SAO THÁI DƯƠNG đang áp dụng chính sách giao hàng, cụ thể: Giá trị đơn hàng: trên 200.000đ. Miễn phí giao hàng toàn quốc. Giao hàng nhanh nhất có thể và tối đa trong vòng 3 ngày. 2. CHƯƠNG TRÌNH BÁN HÀNG. Chương trình bán hàng được áp dụng thống[…]
            </ul>
        </div>


        <div class="col-md-3 a">
            HƯỚNG DẪN ĐẶT HÀNG CỦA SAO THÁI DƯƠNG
            <ul class="col-md-10 b">
                BƯỚC 1. TRUY NHẬP VÀO CHỨC NĂNG ĐẶT HÀNG CỦA SAO THÁI DƯƠNG Khi đăng nhập phần mềm bạn sẽ nhìn thấy giao diện trang chủ. Để trup nhập đặt hàng nhấn ĐẶT HÀNG NGAY màu đỏ trên màn hình. Giao diện đặt hàng xuất hiện như hình Bạn nhấn vào [Chính sách mua hàng] để[…]
            </ul>

        </div>

    </div>
</div>

