
@{
    ViewBag.Title = "Tienich";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<link href="~/CSS/StyleSheet1.css" rel="stylesheet" />

<div class="tienich">
    TIỆN ÍCH WEB NHÀ THUỐC
    <div class="row">
        <div class="col-md-4 a">

            TRA CỨU HÀNG HÓA
            <ul class="col-md-12 b">
                Với 20.000 mặt hàng liên tục được cập nhật thông tin giá cả, bạn dễ dàng tra cứu mọi thông tin về hàng hoá mà để phục vụ kinh doanh.
            </ul>
        </div>


        <div class="col-md-2 a ">

            ĐẶT HÀNG ĐA KHO
            <ul class="col-md-12 b">
                Bạn có thể dễ dàng đặt hàng nhanh chóng, thuận lợi và minh bach từ các nhà cung cấp mà WEB NHÀ THUỐC đã tích hợp lên trên phần mềm.
            </ul>
        </div>


        <div class="col-md-3 a ">

            QUẢN LÝ NHÀ THUỐC
            <ul class="col-md-12 b">
                Với phần mềm của WEB NHÀ THUỐC, bạn sẽ có một công cụ quản lý đơn giản, hiện đại để tự động hoá hoạt động kinh doanh nhà thuốc.
            </ul>
        </div>


        <div class="col-md-3 a">
            PHÁT TRIỂN KINH DOANH
            <ul class="col-md-10 b">
                Đây là kênh tư vấn và hỗ trợ trực tiếp mọi vấn đề phát triển kinh doanh và nâng cao năng lực cạnh tranh cho nhà thuốc
            </ul>

        </div>

    </div>
</div>