
@{
    ViewBag.Title = "Tuvan";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<div class="tuvan">
    WEB NHÀ THUỐC TƯ VẤN GÌ CHO BẠN
    <i class="fas fa-question-circle"></i>
    <div class="row">
        <div class="col-md-4 a">

            Hãy để chúng tôi tư vấn cho bạn.
            <ul class="col-md-12 b">
                Bạn sẽ nhận được những tư vấn rất thực tế từ chính những kinh nghiệm và hiểu biết của chúng tôi trong linh vực bán lẻ dược phẩm. Những tư vấn này bao gồm danh mục và cơ cấu danh mục hàng, thông tin giá cả hàng hoá, lộ trình và tài liệu đào tạo nhân viên, làm thế nào thế nào nâng cao năng lực cạnh tranh và mở rộng kinh doanh, những rủi ro bạn có thể gập trong quá trình kinh doanh vv... Tất cả những điều này giúp bạn phát triển kinh doanh ngày càng hiệu quả và khai thác hết tiềm năng của nhà thuốc.
            </ul>
        </div>


        <div class="col-md-2 a ">

            ĐÁP ỨNG NHU CẦU
            <ul class="col-md-12 b">
                WEB NHÀ THUỐC đáp ứng mọi nhu cầu phát triển và điều hành hoạt động kinh doanh nhà thuốc.
            </ul>
        </div>


        <div class="col-md-3 a ">

            ĐẦU TƯ HIỆU QUẢ
            <ul class="col-md-12 b">
                WEB NHÀ THUỐC cam kết cung cấp dịch vụ chất lượng với chi phí thấp nhất nhằm mang tới cơ hội sử dụng cho tất cả các nhà thuốc.
            </ul>
        </div>

    </div>

</div>

